body{
    background-color: black;
    color: lightpink;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}
img{
    
    border-radius: 30%;
    padding: 20%;
    margin: auto;
    height: 100%;
    width: 60%;
}
div{
    grid-column: 2 / span 2;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}
label{
    grid-column: 2 / span 2;
    display: block;
    text-align: center;
}
#submit{
    grid-column: 3;
    display:grid;
    grid-column:1;
    font-size: 30px;
    border-radius: 30px;
    margin: 0 auto;
    position:center;
    background-color: hotpink;
}
#score{
    grid-column:1;
    grid-row: 2;
    display:block;
    text-align: center;
    border-radius: 30%;;
    position: center;
    padding: 5%;
    color: hotpink;
    padding-top: none;
}
#timer{

    border-radius: 50%;
    background-color: lightpink;
    display:block;
    text-align:center;
    color:darkorchid;
    width: 20%;
    margin-left: 40%;
}
p{
    text-align: center;
}
#restart{
    background-color: deeppink;
}