body{
    /* background-color: black; */
    color:darkslateblue;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm353-background-boom-07.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e3104ee30337c5e9bfc2c0c06c5e9002");
    ;
}
img{
    
    border-radius: 30%;
    padding: 20%;
    margin: auto;
    height: 100%;
    width: 60%;
}
div{
    grid-column: 2 / span 2;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}
label{
    grid-column: 2 / span 2;
    display: block;
    text-align: center;
}
#submit{
    grid-column: 3;
    display:grid;
    grid-column:1;
    font-size: 30px;
    border-radius: 30px;
    margin: 0 auto;
    position:center;
    background-color: hotpink;
}
#score{
    grid-column:1;
    grid-row: 2;
    display:block;
    text-align: center;
    border-radius: 30%;;
    position: center;
    padding: 5%;
    color: hotpink;
    padding-top: none;
}
#timer{

    border-radius: 50%;
    background-color: lightpink;
    display:block;
    text-align:center;
    color:darkorchid;
    width: 20%;
    margin-left: 40%;
}
p{
    text-align: center;
}
#restart{
    background-color: deeppink;
}